$fontColor: #213a64;

html,
body {
  font-size: 20px;
  color: #213a64;
  line-height: 25px;
}

html,
body,
div,
p,
span,
a {
  font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}

a {
  text-decoration: underline;
  background-color: #0058ff00;
  border-radius: 4px;
  transition: background-color 120ms ease-in-out;
  padding: 2px;
  color: #0048b3;
}
a:not(.dont-apply-link-style):hover {
  background-color: #0058ff14;
  text-decoration: underline;
  color: #0064f9;
}

.layout-center {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.content-container {
  margin-left: auto;
  margin-right: auto;

  h1 {
    font-size: 2.2rem;
    line-height: 3rem;
    margin: 50px 0 50px;
    color: $fontColor;
  }

  h2 {
    font-size: 1.5rem;
    line-height: 2.2rem;
    margin: 20px 0 20px;
    color: $fontColor;
  }

  @media only screen and (min-width: 1124px) {
    width: 1100px;
  }

  @media only screen and (min-width: 768px) and (max-width: 1124px) {
    width: calc(100% - 100px);
  }

  @media only screen and (min-width: 550px) and (max-width: 768px) {
    width: calc(100% - 80px);
  }

  @media only screen and (min-width: 1px) and (max-width: 600px) {
    width: calc(100% - 50px);
  }
}

.text-container {
  margin: 80px auto;
  font-size: 1rem;
  line-height: 1.6rem;
  color: $fontColor;

  p {
    font-size: 1rem;
    line-height: 1.8rem;
    margin: 5px 0 40px;

    br {
      margin-bottom: 15px;
    }
  }

  ul {
    list-style: decimal;
    margin-left: 35px;
    margin-bottom: 40px;

    li {
      margin-top: 10px;
    }
  }

  @media only screen and (min-width: 1124px) {
    width: 780px;
  }

  @media only screen and (min-width: 768px) and (max-width: 1124px) {
    width: calc(100% - 100px);
  }

  @media only screen and (min-width: 550px) and (max-width: 768px) {
    width: calc(100% - 80px);
  }

  @media only screen and (min-width: 1px) and (max-width: 600px) {
    width: calc(100% - 50px);
  }

  h1 {
    font-size: 2.2rem;
    line-height: 3rem;
    margin: 30px 0 50px;
    color: $fontColor;
  }

  h2 {
    font-size: 1.5rem;
    line-height: 2.2rem;
    margin: 20px 0 20px;
    color: $fontColor;
  }

  h3 {
    font-size: 1.3rem;
    line-height: 1.9rem;
    margin: 12px 0 16px;
  }

  h4 {
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin: 12px 0 16px;
  }
}

h1 {
  font-size: 2.8rem;
  line-height: 3.1rem;
  margin: 15px 0;
  color: $fontColor;
}

h2 {
  font-size: 1.5rem;
  line-height: 2.1rem;
  margin: 10px 0 16px;
  color: $fontColor;
}

h3 {
  font-size: 1.3rem;
  line-height: 1.9rem;
  margin: 12px 0 16px;
}

h4 {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin: 12px 0 16px;
}

#results-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  min-height: 200px;

  #loading,
  #no-results,
  #empty-search {
    display: none;
  }

  &.loading > #results,
  &.no-results > #results,
  &.empty-search > #results {
    display: none;
  }

  &.loading > #loading,
  &.no-results > #no-results,
  &.empty-search > #empty-search {
    display: block;
  }

  > :not(#results) p {
    text-align: center;
    line-height: 2rem;
  }
  > #results {
    a.search-result {
      width: 100%;
      text-decoration: none;
      background-color: #fff;
      border: 3px solid #ccc;
      border-radius: 8px;
      transition: border 200ms ease-in-out;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      &:hover {
        border: 3px solid #0048b3;
      }
      > h3 {
        margin: 20px 20px 10px;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: bold;
        text-decoration: underline;
      }
      > p {
        color: $fontColor;
        font-size: 1rem;
        margin: 0 20px 20px;
        padding: 0;
        line-height: 1.5rem;
        flex-grow: 1;
      }
    }
  }
}
